
<% content_for :content do %>
  <h1>Property Listings</h1>  
  <div id = "my_map"></div>

  <script src="https://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
  <%= javascript_include_tag "gmap3" %>


  <script type="text/javascript">
    window.properties = <%= @properties.to_json.html_safe %>;


     $(document).ready(function() {
      $("#my_map").width("820px").height("500px").gmap3(
      {
      map:{
        options:{
          center:[48.8621, 2.352047],
          zoom: 15
        }
      },


        marker:{
               values:[
      {latLng:[48.8621, 2.352047]},
      {latLng:[48.8622, 2.352047]},
      {latLng:[48.8623, 2.352047], options:{icon: "http://maps.google.com/mapfiles/marker_green.png"}}
    ],

  },
  }
  );
  });
  </script>
<% end %>
