
<% content_for :content do %>
  <h1>Property Listings</h1>  
  <div id = "my_map"></div>

  <script src="https://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
  <%= javascript_include_tag "gmap3" %>


   <script type="text/javascript">
      window.properties = <%= @properties.to_json.html_safe %>;

    var infowindow;
    var addressValueArray = [];
       $(document).ready(function() {
      
      for (var i = 0; i < window.properties.length - 30; i++) {      
        addressValueArray.push({address : window.properties[i].address})
      }
        $("#my_map").width("940px").height("600px").gmap3(
    {
      map:{
        options:{
          center:[37.7750, 237.5],
          zoom: 11
        }
              
      },
      marker:{
      events: {
          // add events here
          click: function(marker, event, data) { 
      if (infowindow)
        infowindow.close();
      infowindow = new google.maps.InfoWindow();
      var map = $(this).gmap3('get');
      infowindow.open(map, marker);

      infowindow.setContent("<div style = 'color:red'><a href = '/managers/1'>Contact Manager</a>");
     },
        },
      values:addressValueArray,
            },
    }
    );
    });
  </script>
<% end %>




