
<% content_for :content do %>

  <div class="jumbotron masthead">
    <div class="container">
      <div id="my_map" style="width":"600px"; height:"350px"></div>
      <h1>BMR Tracker</h1>
      <p>Efficient search for affordable houses.</p>
      <p>
        <%= link_to "Search BMR properties", properties_path, :class => "btn btn-info" %>
      </p>
    </div>
  </div>

<% end %>
