
<% content_for :content do %>


  <div class="jumbotron masthead">
    <div class="container">
      <div id="my_map" style="width":"600px"; height:"350px"></div>
      <h1>BMR Trackr</h1>
      <p>Efficient search for below-market-rate houses.</p>
      <p>
        <%= link_to "Search properties", properties_path, :class => "btn btn-info" %>
      </p>
    </div>
  </div>


  <div class = "row">
    <div class="span6">
      <h3>Clean and Simple</h3>
      <p>No more running between Mayor's office and housing units to figure out availability.</p>
      
      <br/>

      <h3>SMS Notifications</h3>
      <p>Stay up-to-date with housing availability by getting text messages the moment a unit opens up.</p>
    </div>

    <div class="span6">
      <h3>Organized</h3>
      <p>Bookmark your houses for easier organization.</p>

      <br /><br />

      <h3>Realtime</h3>
      <p>Say goodbye to outdated listings. We provide the most reliable up-to-date data on BMR houses</p>
    </div>
  </div>

<% end %>
